<div class="container__big-card">

  <div class="big-card__photo">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1022px-Placeholder_view_vector.svg.png"
      alt=""
      height="250px"
      width="100%"
      srcset=""
    />
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget sagittis turpis, sed volutpat risus. Integer convallis nisi nec finibus efficitur.
      </a>
    </p>
  </div>
</div>
