.container__small-card{
  width: 700px;
}

.container__small-card-content{

  width: 100%;

  display: flex;
  flex-direction: row;
}

.small-card__photo{
  width: 30%;
}
.small-card__photo > img {
  width: 200px;
  min-width: 100px;

  height: 100px;
  min-height: 50px;

  margin-right: 20px;
}

.small-card__title{
  margin-left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__separator{
  margin-top: 10px;
  margin-bottom: 10px;
}
